<div class="container">
	<!--<div ng-if="filter.entity_type=='reseau_realisation'">
        <link type="text/css" rel="stylesheet" href="styles/vendor/bootstrap/css/bootstrapSimplex.min.css">
        <link href="styles/main.css" rel="stylesheet">
    </div>-->

 	<link type="text/css" rel="stylesheet" href="styles/bootstrapSimplex_{{filter.entity_type | getCSS}}.css">
 	<link href="styles/main.css" rel="stylesheet">

		<div class="bs-docs-section">
			<div class="row" id="banner">
				<!-- liste "top" -->
				<!--<div style="background-color:#e72510;">
					<h1 class="text-center text-white" style="font-family:calibri">LISTE</h1>
					<a name="top"></a>
				</div>-->


               

                <div ng-if="filter.entity_type==''">
                    <h1 style="color:#2C2C2B;" class="text-center text-white small-margin-bot" style="font-family:calibri">Maison à Part</h1>
                    <a name="top"></a>
                </div>

				<div ng-if="filter.entity_type=='article_edito'">
					<h1 style="color:#ec770e;" class="text-center text-white small-margin-bot" style="font-family:calibri">Actualités</h1>
					<a name="top"></a>
				</div>

				<div ng-if="filter.entity_type=='reseau_realisation'">
					<h1 style="color:#e72510;" class="text-center text-white small-margin-bot" style="font-family:calibri">Réalisation de BatiActu Réseau
					</h1>
					<a name="top"></a>
				</div>
				
					<div>					

						<!-- Form de la barre de recherche et des boutons de tri -->
				        <form class="form-inline" ng-submit="search(filter)">
						    <div class="form-group xs-margin-right">
							    <div class="input-group">
							        <input type="text" id="searchInput" class="form-control"
                                    ng-model="filter.keywords" placeholder="Recherche..."/>					  
							        <div class="input-group-addon">
							        	<button id="searchButton" class="btn  btn-primary" type="button" 
							        	ng-click="search(filter)">
					                       <i class="fa fa-search"></i>
					                    </button>
					                </div>
							    </div>
						    </div>

                            <div class="form-group">
                                <!-- Quand on est sur les réals, le toggle est rouge -->
                                <div class="switch switch-marron" ng-if="filter.keywords!=undefined 
                                ">
                                    <input type="radio" class="switch-input" name="view3" value="week3" id="week3" >
                                    <label for="week3" ng-click="sortDate('DESC')" ng-model="filter.sort_order" class="switch-label switch-label-off"><p class="text-white">Récents</p>
                                    </label>
                                    <input type="radio" class="switch-input" name="view3" value="month3" id="month3" checked>
                                    <label for="month3" class="switch-label switch-label-on" ng-click="sortScore('DESC')" ng-model="filter.score"><p class="text-white">Pertinents</p>
                                    </label>
                                    <span class="switch-selection"></span>
                                </div>

                            </div>

							<!--<button class="btn btn-sm btn-default" ng-model="filter.sort_order" ng-click="sortDate('DESC')" ng-if="filter.keywords!=undefined" ng-hide="filter.sort_order!=undefined" ng-show="filter.sort_order==undefined">Vers Les + Récents
							</button>

					        <button class="btn btn-sm btn-warning" ng-model="filter.score" 
					        ng-if="filter.keywords!=undefined" ng-hide="filter.score!=undefined" ng-show="filter.score==undefined" ng-click="sortScore('DESC')">Vers Les + Pertinents
					        </button>-->

						</form>

					</div><br>
				<!-- /liste "top" -->

                <!-- Texte de présentation si entity_type == reseau_realisation -->
                <blockquote ng-if="filter.entity_type=='reseau_realisation'">
                <p class="text-black" style="font-size:1.1em;">Toutes les réalisations de Batiactu</p>
                <p class="text-black" style="font-size:1.1em;">Inspirez-vous ou échangez sur les différentes technique existantes.</p>
                </blockquote>

                <!-- Texte de présentation si entity_type == article_edito -->
                <blockquote ng-if="filter.entity_type=='article_edito'">
                <p class="text-black" style="font-size:1.1em;">Toute l'actualité de Maison à Part</p>
                <p class="text-black" style="font-size:1.1em;">Décoration, immobilier, travaux, tout est ici !</p>
                </blockquote>

                <!-- Texte de présentation si entity_type == '' -->
                <blockquote ng-if="filter.entity_type==''">
                <p class="text-black" style="font-size:1.1em;">L'habitat sous tous les angles</p>
                </blockquote>
	        </div>

		</div>

		<div>
            <!-- Pour chaque filtre on l'affiche et si l'utilisateur clique sur la croix, alors on retire le filtre de l'URL -->
            <div class="alert alert-dismissible text-primary" ng-repeat="(key, value) in filter" 
            ng-if="key!='entity_type' && key!='sort_order' && key!='score' && key!='page' && key!='keywords'">
                <button type="button" type="button" class="close" data-dismiss="alert" ng-click="removeFilters(key, value)"><i class="fa fa-times"></i></button>
                <p class="taille-teaser">{{key | traduction}} : {{value | traduction:key}}</p>
            </div>
        </div><br>

        <div ng-if="articles==null">
        	<p class="taille-teaser"><b>Désolé, aucun résultat n'a été trouvé. </b></p>
        </div>


        <!--    DIV du loader       -->
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div ng-if="config.loader">
                <div class="text-center small-padding">
                    <div class="row" >
                        <div class="panel panel-default well taille-article taille-article-media">  
                            <div class="taille-fixe-media"> 

                                <div class="ellipsisTitre">
                                    <p>
                                        <h4 class="margin-h4 titre-profil-article text-flou">Lorem ipsum dolor sit amet</h4>
                                    </p>
                                </div>
  
                                <img class="img-responsive taille-img-fixe center-block img-home img-opacity" 
                                ng-src="img-fake.jpg"/>

                                <div class="ellipsis ellipsis-media text-flou">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                                </div>
                            </div>
                            <div class="img-opacity">
                                <button type="button" class="btn btn-primary">En savoir plus
                                </button>
                            </div>  
                        </div>                  
                    </div>
                </div>
            </div>
        </div>

        <!--    DIV du loader       -->
        <div class="col-lg-4">
            <div ng-if="config.loader">
                <div class="text-center small-padding">
                    <div class="row" >
                        <div class="panel panel-default well taille-article taille-article-media">  
                            <div class="taille-fixe-media"> 

                                <!-- Div titre des article où l'entity_type == réseau_réalisation -->
                                <div class="ellipsisTitre">
                                    <p>
                                        <h4 class="margin-h4 titre-profil-article text-flou">Lorem ipsum dolor sit amet</h4>
                                    </p>
                                </div>
  
                                <img class="img-responsive taille-img-fixe center-block img-home img-opacity" 
                                ng-src="img-fake.jpg"/>

                                <div class="ellipsis ellipsis-media text-flou">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                                </div>
                            </div>
                            <div class="img-opacity">
                                <button type="button" class="btn btn-primary">En savoir plus
                                </button>
                            </div>  
                        </div>                  
                    </div>
                </div>
            </div>
        </div>

        <!--    DIV du loader       -->
        <div class="col-lg-4">
            <div ng-if="config.loader">
                <div class="text-center small-padding">
                    <div class="row" >
                        <div class="panel panel-default well taille-article taille-article-media">  
                            <div class="taille-fixe-media"> 

                                <!-- Div titre des article où l'entity_type == réseau_réalisation -->
                                <div class="ellipsisTitre">
                                    <p>
                                        <h4 class="margin-h4 titre-profil-article text-flou">Lorem ipsum dolor sit amet</h4>
                                    </p>
                                </div>
  
                                <img class="img-responsive taille-img-fixe center-block img-home img-opacity" 
                                ng-src="img-fake.jpg"/>

                                <div class="ellipsis ellipsis-media text-flou">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                                </div>
                            </div>
                            <div class="img-opacity">
                                <button type="button" class="btn btn-primary">En savoir plus
                                </button>
                            </div>  
                        </div>                  
                    </div>
                </div>
            </div>
        </div>

        <!--    DIV du loader       -->
        <div class="col-lg-4">
            <div ng-if="config.loader">
                <div class="text-center small-padding">
                    <div class="row" >
                        <div class="panel panel-default well taille-article taille-article-media">  
                            <div class="taille-fixe-media"> 

                                <!-- Div titre des article où l'entity_type == réseau_réalisation -->
                                <div class="ellipsisTitre">
                                    <p>
                                        <h4 class="margin-h4 titre-profil-article text-flou">Lorem ipsum dolor sit amet</h4>
                                    </p>
                                </div>
  
                                <img class="img-responsive taille-img-fixe center-block img-home img-opacity" 
                                ng-src="img-fake.jpg"/>

                                <div class="ellipsis ellipsis-media text-flou">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                                </div>
                            </div>
                            <div class="img-opacity">
                                <button type="button" class="btn btn-primary">En savoir plus
                                </button>
                            </div>  
                        </div>                  
                    </div>
                </div>
            </div>
        </div>

        <!--    DIV du loader       -->
        <div class="col-lg-4">
            <div ng-if="config.loader">
                <div class="text-center small-padding">
                    <div class="row" >
                        <div class="panel panel-default well taille-article taille-article-media">  
                            <div class="taille-fixe-media"> 

                                <!-- Div titre des article où l'entity_type == réseau_réalisation -->
                                <div class="ellipsisTitre">
                                    <p>
                                        <h4 class="margin-h4 titre-profil-article text-flou">Lorem ipsum dolor sit amet</h4>
                                    </p>
                                </div>
  
                                <img class="img-responsive taille-img-fixe center-block img-home img-opacity" 
                                ng-src="img-fake.jpg"/>

                                <div class="ellipsis ellipsis-media text-flou">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                                </div>
                            </div>
                            <div class="img-opacity">
                                <button type="button" class="btn btn-primary">En savoir plus
                                </button>
                            </div>  
                        </div>                  
                    </div>
                </div>
            </div>
        </div>

        <!--    DIV du loader       -->
        <div class="col-lg-4">
            <div ng-if="config.loader">
                <div class="text-center small-padding">
                    <div class="row" >
                        <div class="panel panel-default well taille-article taille-article-media">  
                            <div class="taille-fixe-media"> 

                                <!-- Div titre des article où l'entity_type == réseau_réalisation -->
                                <div class="ellipsisTitre">
                                    <p>
                                        <h4 class="margin-h4 titre-profil-article text-flou">Lorem ipsum dolor sit amet</h4>
                                    </p>
                                </div>
  
                                <img class="img-responsive taille-img-fixe center-block img-home img-opacity" 
                                ng-src="img-fake.jpg"/>

                                <div class="ellipsis ellipsis-media text-flou">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                                </div>
                            </div>
                            <div class="img-opacity">
                                <button type="button" class="btn btn-primary">En savoir plus
                                </button>
                            </div>  
                        </div>                  
                    </div>
                </div>
            </div>
        </div>

           
        <!-- Fin du loader -->


		<!-- DIV LISTE ARTICLES -->
		<div class="text-center" resizable>
			<div class="row" >			
				<div ng-repeat="article in articles | filter:query">			
				 	<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
						<div class="panel panel-default well taille-article taille-article-media">	
							<div class="taille-fixe-media">	

								<!-- Div titre des article où l'entity_type == réseau_réalisation -->
					            <div class="ellipsisTitre">
					           	    <a href="#/profil/{{article.id}}">
					           	    	<p>
                                            <h4 class="margin-h4 titre-profil-article">
                                            {{article.label}}</h4>
					           	        </p>
					           	    </a>
				           	    </div>


				           	    <a href="#/profil/{{article.id}}">        	
					            	<img class="img-responsive taille-img-fixe center-block img-home" 
					            	ng-src="{{article.sm_image_url[0]}}" />
					            </a>

					            <div class="ellipsis ellipsis-media">
				              		<p ng-bind-html="article.teaser" class="text-justify">{{article.teaser}}</p>
					            </div>
					        </div>
						        <div>
					            	<a href="#/profil/{{article.id}}">
					            		<button type="button" class="btn text-white"  ng-show="article.entity_type=='reseau-realisation'" ng-hide="article.entity_type=='article_edito'" style="background-color:#e72510;">En savoir plus</button>
                                        <button type="button" class="btn text-white"  ng-show="article.entity_type=='article_edito'" ng-hide="article.entity_type=='reseau_realisation'" style="background-color:#ec770e;">En savoir plus</button>
					            	</a>
					            </div>	
						</div>	                
		            </div>

    		            <!-- Div des pubs au milieu des articles en résolution >= 1200px -->
                        <div ng-if="largeur >= 1200">
        		            <div id="pubArticles" ng-if="$index==1" ng-show="largeur >= 1200" class="hauteur-fixe-pub col-lg-4 col-md-6 col-sm-6 col-xs-12">
        		                <div class="text-center" ng-controller="pubsCtrl">
        		                    <a href="{{pubs[5].clic}}" target="_blank">
        		                        <img ng-src="{{pubs[5].fichier}}" class="pub taille-pub">
        		                    </a>
        		                </div>
        		            </div>
        		            <div id="pubArticles2" ng-if="$index==6" ng-show="largeur >= 1200" class="hauteur-fixe-pub col-lg-4 col-md-6 col-sm-6 col-xs-12">
        		                <div class="text-center" ng-controller="pubsCtrl">
        		                    <a href="{{pubs[9].clic}}" target="_blank">
        		                        <img ng-src="{{pubs[9].fichier}}" class="pub taille-pub">
        		                    </a>
        		                </div>
        		            </div>
        		            <div id="pubArticles3" ng-if="$index==11" ng-show="largeur >= 1200" class="hauteur-fixe-pub col-lg-4 col-md-6 col-sm-6 col-xs-12">
        		                <div class="text-center" ng-controller="pubsCtrl">
        		                    <a href="{{pubs[6].clic}}" target="_blank">
        		                        <img ng-src="{{pubs[6].fichier}}" class="pub taille-pub">
        		                    </a>
        		                </div>
        		            </div>
        		            <div id="pubArticles4" ng-if="$index==16" ng-show="largeur >= 1200" class="hauteur-fixe-pub col-lg-4 col-md-6 col-sm-6 col-xs-12">
        		                <div class="text-center" ng-controller="pubsCtrl">
        		                    <a href="{{pubs[8].clic}}" target="_blank">
        		                        <img ng-src="{{pubs[8].fichier}}" class="pub taille-pub">
        		                    </a>
        		                </div>
        		            </div>
        		            <div id="pubArticles5" ng-if="$index==21" ng-show="largeur >= 1200" class="hauteur-fixe-pub col-lg-4 col-md-6 col-sm-6 col-xs-12">
        		                <div class="text-center" ng-controller="pubsCtrl">
        		                    <a href="{{pubs[6].clic}}" target="_blank">
        		                        <img ng-src="{{pubs[6].fichier}}" class="pub taille-pub">
        		                    </a>
        		                </div>
        		            </div>
        		            <div id="pubArticles6" ng-if="$index==26" ng-show="largeur >= 1200" class="hauteur-fixe-pub col-lg-4 col-md-6 col-sm-6 col-xs-12">
        		                <div class="text-center" ng-controller="pubsCtrl">
        		                    <a href="{{pubs[3].clic}}" target="_blank">
        		                        <img ng-src="{{pubs[3].fichier}}" class="pub taille-pub">
        		                    </a>
        		                </div>
        		            </div>
                        </div>
    		            <!-- / Div des pubs au milieu des articles en résolution >= 1200px -->

                        <!-- Div des pubs au milieu des articles en résolution >= 768px et < 1200px -->
                        <div ng-if="largeur < 1200 && largeur >= 768">
                            <div id="pubArticles7" ng-if="$index==2" ng-show="largeur < 1200 && largeur >= 768" class="hauteur-fixe-pub col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="text-center" ng-controller="pubsCtrl">
                                    <a href="{{pubs[9].clic}}" target="_blank">
                                        <img ng-src="{{pubs[9].fichier}}" class="pub taille-pub">
                                    </a>
                                </div>
                            </div>
                            <div id="pubArticles8" ng-if="$index==7" ng-show="largeur < 1200 && largeur >= 768" class="hauteur-fixe-pub col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="text-center" ng-controller="pubsCtrl">
                                    <a href="{{pubs[9].clic}}" target="_blank">
                                        <img ng-src="{{pubs[9].fichier}}" class="pub taille-pub">
                                    </a>
                                </div>
                            </div>
                            <div id="pubArticles9" ng-if="$index==12" ng-show="largeur < 1200 && largeur >= 768" class="hauteur-fixe-pub col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="text-center" ng-controller="pubsCtrl">
                                    <a href="{{pubs[6].clic}}" target="_blank">
                                        <img ng-src="{{pubs[6].fichier}}" class="pub taille-pub">
                                    </a>
                                </div>
                            </div>
                            <div id="pubArticles10" ng-if="$index==17" ng-show="largeur < 1200 && largeur >= 768" class="hauteur-fixe-pub col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="text-center" ng-controller="pubsCtrl">
                                    <a href="{{pubs[8].clic}}" target="_blank">
                                        <img ng-src="{{pubs[8].fichier}}" class="pub taille-pub">
                                    </a>
                                </div>
                            </div>
                            <div id="pubArticles11" ng-if="$index==22" ng-show="largeur < 1200 && largeur >= 768" class="hauteur-fixe-pub col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="text-center" ng-controller="pubsCtrl">
                                    <a href="{{pubs[6].clic}}" target="_blank">
                                        <img ng-src="{{pubs[6].fichier}}" class="pub taille-pub">
                                    </a>
                                </div>
                            </div>
                            <div id="pubArticles12" ng-if="$index==27" ng-show="largeur < 1200 && largeur >= 768" class="hauteur-fixe-pub col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="text-center" ng-controller="pubsCtrl">
                                    <a href="{{pubs[3].clic}}" target="_blank">
                                        <img ng-src="{{pubs[3].fichier}}" class="pub taille-pub">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Div des pubs au milieu des articles en résolution >= 768px et < 1200px -->
                    </div>
			    </div>
			</div> 

		<!-- / DIV LISTE ARTICLES -->



	<!-- PAGINATION -->
	<div class="hide">{{nb_page = (ws.nb / ws.nb_item)>10?10:(Math.ceil(ws.nb / ws.nb_item))}} {{pageCourante = ws.page_start}}</div>

	<div>
        <span ng-if="pageCourante>1" class="text-left"> 
			<i class="fa fa-hand-o-left fa-2x"></i>
            <a href="" ng-click="filterPage(int_val(pageCourante)-1)" class="taille-texte">
                <b>Page Précedente</b>
			</a> 
        </span>
        <div class="text-center">
            <b><p class="text-black">Page {{pageCourante}}</p></b>
        </div>
        <span ng-if="pageCourante < nb_page" class="pull-right">
    		<a href="" ng-click="filterPage(int_val(pageCourante)+1)" class="taille-texte">
                <b>Page suivante</b>
            </a>
            <i class="fa fa-hand-o-right fa-2x"></i>
        </span>
    </div>
    
	<!-- / PAGINATION -->
</div>

