<div ng-controller="identificationCtrl" class="inscription-media big-margin-top-inverse">
	<carousel>
	    <slide ng-repeat="connect in connexion" active="connect.active">
	        <img class="brightness" style="height:100%;" ng-src="{{connect.image}}">
	        <div class="carousel-caption margin-bottom-inscription-media">
	        		<form class="form-horizontal text-center form-inscription-media">
	        			<!-- Prénom -->
	        			<div class="form-group">
	        				<div class="col-lg-12">
	        					<label for="prenom" class="hide-media">Prénom : </label>
	        					<input type="text" class="form-control" id="prenom" placeholder="Prénom">
	        		  		</div>
	        			</div><br>
	        			<!-- Nom -->
	        			<div class="form-group little-neg-margin-top">
	        				<div class="col-lg-12">
	        					<label for="nom" class="hide-media">Nom : </label>
	        					<input type="text" class="form-control" id="nom" placeholder="Nom">
	        		  		</div>
	        			</div><br>
	        			<!-- Adresse mail -->
	        			<div class="form-group little-neg-margin-top">
	        				<div class="col-lg-12">
	        					<label for="mail" class="hide-media">Adresse Mail : </label>
	        					<input type="email" class="form-control" id="mail" placeholder="Email">
	        		  		</div>
	        			</div><br>
	        			<!-- Mot de passe -->
	        			<div class="form-group little-neg-margin-top">
	        		  		<div class="col-lg-12">
	        		  			<label for="mdp" class="hide-media">Mot de passe : </label>
	        		    		<input type="password" class="form-control" id="mdp" placeholder="Mot de passe">
	        		    	</div>
	        		    </div><br>
	        		    <p>En vous inscrivant sur Batiactu, vous acceptez les <a href="">Conditions générales d'utilisation de Batiactu</a>, la <a href="">Politique de confidentialité</a> et la <a href="">politique relative aux cookies</a> de Batiactu</p>
	        		    <a href="">
	        		    	<button class="btn btn-primary width-button-identification width-button-identification-media">S'inscrire</button>
	        		    </a>
	        		    <p>Vous avez déjà un compte? <a href="#/connexion">Identifiez-vous</a></p>
	        		</form>
	        	    
	    	</div>
	  	</slide>
	</carousel>
</div>
