

<!-- Permet de faire appel à la fonction qui redimensionne l'image -->
<div class="hide">
 {{uneURLImage = imgResize(article.sm_image_url[0])}}
 {{grandeImage = clicImage(article.sm_image_url[0])}}
</div>


<a class="btn btn-primary" ng-click="retourRecherche('article_edito')"><i class="fa fa-arrow-left"></i> Retour à la recherche</a>

<div ng-swipe-left="pageSuivante(page, unArticle)" ng-swipe-right="pagePrecedente(page, unArticle)"> 

  <h1 style="margin-top:20px;" class="text-primary text-center well"><b>{{article.label}}</b></h1>
    <div class="text-primary">
      <ul class="list-group">
        <li class="list-group-item text-justify" ng-if="article.teaser && unArticle.texte">
          <p ng-if="unArticle.TLienPhoto.length>1" class="text-black text-center taille-texte"><b>Cet article comporte plusieurs pages, faites glisser votre doigt pour y naviguer.</b></p>
          <p style="opacity: 0.5;" ng-if="unArticle.signature">
            Par {{unArticle.signature}} le {{article.timestamp.substr(8,2)}}/{{article.timestamp.substr(5,2)}}/{{article.timestamp.substr(0,4)}}
          </p>
          <a class="test" rel="group" href="{{uneURLImage}}">
          <img class="img-responsive center-block float-left xs-margin-right"
          ng-src="{{grandeImage}}" ng-if="article.sm_image_url[0]" />
          </a>
          <b class="taille-description"> Description : </b>
          <p ng-bind-html="article.teaser | replaceCharacter" class="text-muted  taille-teaser">
            <b>{{article.teaser}}</b></p>
          <p ng-bind-html="unArticle.texte | replaceCharacter" class="text-muted taille-texte">
            {{unArticle.texte}}</p>
        </li>

        <li class="list-group-item text-justify" ng-if="unArticle.nb_transfert"><p>Article partagé :
            <span class="badge" ng-if="unArticle.nb_transfert">{{unArticle.nb_transfert}}</span></p>
        </li>

        <li class="list-group-item" ng-if="unArticle.nb_lecture"><p>Article lu {{unArticle.nb_lecture}} fois</p>
        </li>

        <li class="list-group-item">
          <p><b>Référence : </b><span class="text-muted">{{config.trad[article.entity_type]}}</span></p>
          <p ng-if="article.ss_annee_mois"><b>Date : </b>
          <span class="text-muted">{{article.ss_annee_mois}}</span></p>
        </li>      
      </ul>
    </div>
</div>



