<a href="#" class="btn btn-primary text-black"><i class="fa fa-arrow-left"></i> Retour à la recherche</a>

<div> 
  <h1 style="margin-top:20px;" class="text-primary text-center well text-black"><b>{{article.label}}</b></h1>
    <div class="text-primary">
      <ul class="list-group">
        <li class="list-group-item text-center"><p style="opacity: 0.5;" ng-if="unArticle.signature">
          Par {{unArticle.signature}} le {{article.timestamp.substr(8,2)}}/{{article.timestamp.substr(5,2)}}/{{article.timestamp.substr(0,4)}}</p>
          <a href="{{article.url}}" target="_blank">
            <img class="img-responsive center-block" ng-src="{{article.sm_image_url[0]}}"/>
          </a>
        </li>

        <li class="list-group-item text-justify" ng-if="article.content">
          <b class="taille-teaser">Description : </b><br>
          <p ng-bind-html="article.content | replaceCharacter" class="text-black taille-teaser">{{article.content}}</p>
        </li>

        <li class="list-group-item">
          <p ng-if="article.url" class="taille-texte"><b>Information complémentaire : </b><a href="{{article.url}}" target="_blank">Obtenir plus d'informations ici</a></p>
          <p><b>Référence : </b><span class="text-black">{{config.trad[article.entity_type]}}</span></p>
          <p ng-if="article.sm_ville[0] && article.sm_reg_lib[0] && article.sm_dep_lib[0]"><b>Lieu : </b><span class="text-black">{{article.sm_reg_lib[0]}} / {{article.sm_dep_lib[0]}} / {{article.sm_ville[0]}}
          </span></p>
          <p ng-if="article.ss_annee_mois"><b>Date : </b><span class="text-black">{{article.ss_annee_mois}}
          </span></p>
        </li>      
      </ul>
    </div>
</div>




