<!-- Permet de faire appel à la fonction qui redimensionne l'image -->
<div class="hide">
 {{uneURLImage = imgResize(article.sm_image_url[0])}}
</div>


<a href="#" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Retour à la recherche</a>

<div> 
  <h1 style="margin-top:20px;" class="text-primary text-center well"><b>{{article.label}}</b></h1>
    <div class="text-primary">
      <ul class="list-group">
        <li class="list-group-item">
          <img class="img-responsive center-block float-left xs-margin-right" style="height:120px;" ng-src="{{article.sm_image_url[0]}}"/>
          <p class="text-black taille-teaser" ng-if="article.ts_title"><b>{{article.ts_title}}</b></p>
          <p ng-if="article.ss_societe"><b>Société : </b><span class="text-black">{{article.ss_societe}}</span>
          </p>
          <p ng-if="article.ss_secteur"><b>Secteur : </b><span class="text-black">{{article.ss_secteur}}</span></p>
          <p ng-if="article.ss_profession"><b>Profession : </b><span class="text-black">{{article.ss_profession}}
          </span></p>
          <p ng-if="article.sm_ville[0] && article.sm_cp[0] && article.sm_pays[0]"><b>Lieu : </b><span class="text-black">{{article.sm_ville[0]}} {{article.sm_cp[0]}}, {{article.sm_pays[0]}}</span></b></p>

        </li>

        <li class="list-group-item text-justify taille-teaser" ng-if="article.teaser"><b>Description : </b><br>
          <p ng-bind-html="article.teaser | replaceCharacter" class="text-black">{{article.teaser}}</p>
        </li>

        <li class="list-group-item">
          <p><b>Référence : </b><span class="text-black">{{config.trad[article.entity_type]}}</span></p>
          <p ng-if="article.sm_ville[0]"><b>Lieu : </b><span class="text-black">{{article.sm_ville[0]}}</span>
          </p>
          <p ng-if="article.timestamp"><b>Date de publication : </b><span class="text-black">{{article.timestamp.substr(8,2)}}/{{article.timestamp.substr(5,2)}}/{{article.timestamp.substr(0,4)}}</span></p>
        </li>     
      </ul>
    </div>
</div>


