<!-- Si a filtré sur 'réseau_réalisation' alors on affiche ce thème -->
<div ng-if="filter.entity_type=='reseau_realisation'">
  <link type="text/css" rel="stylesheet" href="styles/vendor/bootstrap/css/bootstrapSimplex.min.css">
  <link href="styles/main.css" rel="stylesheet">
</div>

<div ng-swipe-left="pageSuivante(page, unArticle)" ng-swipe-right="pagePrecedente(page, unArticle)"> 
  <div ng-repeat="TPage in unArticle.TPage">
    <div ng-if="page==TPage.page">
        <div class="hide">
            {{unObjet = lienPhoto(unArticle.TLienPhoto, page)}}
        </div>
      <a href="#" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Retour à la recherche</a>
      <h1 style="margin-top:20px;" class="text-primary text-center well">{{TPage.titre}}</h1>
        <div class="text-primary">
          <ul class="list-group well text-center">
            <li class="list-group-item">
                <img ng-src="{{article.sm_image_url[0].substr(0,31)}}{{unObjet.taille.toLowerCase()}}/cadre/{{unObjet.fichier}}" class="img-responsive center-block traitgauche">
                <p style="opacity: 0.5;" ng-if="unArticle.signature">Source : {{unArticle.TLienPhoto[0].photo.source}} ©
                </p>
            </li>
            <li class="list-group-item text-justify"><p ng-bind-html="TPage.texte | replaceCharacter" class="taille-texte text-muted">
              {{TPage.texte}}</p>
            </li>
            <li class="list-group-item text-left"><p>Référence : {{config.trad[article.entity_type]}}</p>
            </li>
          </ul>
        </div>
    </div>
  </div>
  <p class="hide">{{unArticle = fromJJson(article.zs_json)}}</p>
</div>


