/* Menu toggle */
.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(200,200,200);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}
/* / menu-toggle */

/* Side Menu */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 300px;
    height: 90%;
    margin-right: -450px;
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 20px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
}

#sidebar-wrapper.active {
    left: 0;
    top: 60;
    width: 300px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

/* ------------------------- Média ----------------------------- */

@media screen and (max-width: 766px)
{
.ellipsis-media {
        overflow: hidden;
        height: 100px;
        line-height: 25px;
        margin: 5px;}

        .ellipsis-media:before {
        content:"";
        float: left;
        width: 5px; height: 100px; }

        .ellipsis-media > *:first-child {
        float: right;
        width: 100%;
        margin-left: -5px; }        

        .ellipsis-media:after {
        content: "\02026";  

        box-sizing: content-box;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;

        float: right;
        position: relative;

        top: -25px; left: 100%; 
        width: 3em; margin-left: -3em;
        padding-right: 5px;

        text-align: right;

        background: -webkit-gradient(linear, left top, right top,
            from(rgba(255, 255, 255, 0)), to(#f5f5f5), color-stop(50%, #f5f5f5));
        background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), #f5f5f5 50%, #f5f5f5);           
        background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), #f5f5f5 50%, #f5f5f5);
        background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), #f5f5f5 50%, #f5f5f5);
        background: linear-gradient(to right, rgba(255, 255, 255, 0), #f5f5f5 50%, #f5f5f5); 
    }

.taille-fixe-media{
    height: 280px;
}

.taille-article-media{
  height:330px;
}

.width-button-identification-media{
    width:100px;
}

.text-identification-media{
    font-size: 1.1em;
}

.small-margin-left-media{
  margin-left: 35px;
}

.connexion-media{
  width:100%;
  height: 550px;
}

.inscription-media{
  width:100%;
  height: 750px;
}

.identification-media{
  width:100%;
  height: 550px;
}

.form-connexion-media{
  margin-bottom: 100px;
}

.form-inscription-media{
  margin-bottom: 70px;
}

.hide-media{
  display: none;
}

.pull-right-media{
  float: right
}

.little-margin-top-inverse-media{
  margin-top: -31px
}

.taille-pro-media{
  font-size:1em;
}

.hide2{
  visibility: visible;
}

}

/* ----------------------------------/ Media ---------------------------------------*/

.toright{
    float:right;
}

.ellipsis {
        overflow: hidden;
        height: 100px;
        line-height: 25px;
        margin: 5px;}

        .ellipsis:before {
        content:"";
        float: left;
        width: 5px; height: 100px; }

        .ellipsis > *:first-child {
        float: right;
        width: 100%;
        margin-left: -5px; }        

        .ellipsis:after {
        content: "\02026";  

        box-sizing: content-box;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;

        float: right;
        position: relative;

        top: -25px; left: 100%; 
        width: 3em; margin-left: -3em;
        padding-right: 5px;

        text-align: right;

        background: -webkit-gradient(linear, left top, right top,
            from(rgba(255, 255, 255, 0)), to(#f5f5f5), color-stop(50%, #f5f5f5));
        background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), #f5f5f5 50%, #f5f5f5);           
        background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), #f5f5f5 50%, #f5f5f5);
        background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), #f5f5f5 50%, #f5f5f5);
        background: linear-gradient(to right, rgba(255, 255, 255, 0), #f5f5f5 50%, #f5f5f5); 
    }

.ellipsisTitre{
    overflow: hidden;
    height: 55px;
    line-height: 25px;
    margin: 5px;
}

.ellipsisTitre:before{
    content:"";
    float: left;
    width: 5px;
    height: 96px;
}

.ellipsisTitre > *:first-child{
    float: right;
    width: 100%;
    margin-left: -5px;
}        

.ellipsisTitre:after{
    content: "\02026";  

    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;

    float: right; position: relative;
    top: -25px; left: 100%; 
    width: 3em; margin-left: -3em;
    padding-right: 5px;

    text-align: right;

    background: -webkit-gradient(linear, left top, right top,
        from(rgba(255, 255, 255, 0)), to(#f5f5f5), color-stop(50%, #f5f5f5));
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), #f5f5f5 50%, #f5f5f5);           
    background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), #f5f5f5 50%, #f5f5f5);
    background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), #f5f5f5 50%, #f5f5f5);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #f5f5f5 50%, #f5f5f5); 
}

.taille-fixe{
    height: 310px;
}


.taille-img-fixe{
    height: 100px;
    min-width: 130px;
    max-width: 150px;
}

.hauteur-fixe{
    height:90px;
}

.taille-article{
  height:340px;
}

.taille-article-photos{
  height:240px;
}


/* MENU ACCORDEON */
.panel-accordion{
    background-color: #222222;
}

/* FIN MENU ACCORDEON */

.text-white{
    color:#ffffff;
}

/* LOADER */
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.container1 > div, .container2 > div, .container3 > div {
  width: 12px;
  height: 12px;
  background-color: #333;

  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


/* / LOADER */

/* FLECHE HAUT */

#toTop {
        display:none;
        text-decoration:none;
        position:fixed;
        bottom:20px;
        right:20px;
        overflow:hidden;
        width:51px;
        height:51px;
        border:none;
        text-indent:-999px;
        background-image: url(http://sd-1.archive-host.com/membres/images/3347790973941088/uitotop.png);
        background-repeat: no-repeat;
        background-position: left top;
        z-index: 900000;
        }

#toTopHover {
        background:url(http://sd-1.archive-host.com/membres/images/3347790973941088/uitotop.png) no-repeat left -51px;
        width:51px;
        height:51px;
        display:block;
        overflow:hidden;
        float:left;
        opacity: 0;
        -moz-opacity: 0;
        filter:alpha(opacity=0);
        }

#toTop:active, #toTop:focus {
        outline:none;
        }

/* / FLECHE HAUT */

#searchButton{
  margin-left: 0px;
  margin-bottom: 0px;
}

/* /FLECHE HAUT */

.img-art-presuiv{
  width: 100px;
  height: 80px;
}

.inline-block{
  display: inline-block;
}

.taille-pub-haut{
  width: 250px;
  height: 200px;
}

.hauteur-fixe-pub{
    height: 390px;
}

.taille-pub{
  height: 340px;
}


/* margin */
.tiny-margin-top{
    margin-top: 15px;
}

.little-margin-top{
    margin-top: 60px;
}


.middle-margin-top{
    margin-top: 70px;
}

.big-margin-top{
    margin-top: 100px;
}

.small-margin-bot{
  margin-bottom: 20px;
}

.xs-margin-bot{
  margin-bottom: 10px;
}

.small-margin-right{
  margin-right: 20px;
}

.small-margin-top{
  margin-top: 30px;
}

.big-margin-top2{
  margin-top: 200px;
}


.small-margin-top2{
  margin-top: 43px;
}

.xs-margin-right{
  margin-right: 10px;
}

.xs-margin-left{
  margin-right: 15px;
}

.small-margin-left{
  margin-left: 35px;
}

.big-margin-left{
  margin-left: 500px;
}

.margin-top-inverse{
  margin-top: -19px;
}

.small-padding{
  padding: 10px 15px;
}

/* / Margin */

/* Taille police */
.taille-teaser{
  font-size:1.3em;
}

.taille-texte{
  font-size:1.1em;
}

.icon-bar{
  background-color:white;
}

.alert-toggle{
    padding:-15px auto;
    margin-bottom:-21px;
    margin-top: 25px;
}

.margin-h4{
  margin-bottom:0px;
  margin-top:-9px;
}

.img-home{
  margin-top: 10px;
}


.taille-description{
  font-size: 1.2em;
}

.float-left{
  float:left;
}

.trait-droit{
  border-right: 1px solid black;
  padding-right: 5px;
  margin-right: 120px;
}

.titre-profil-article{
  margin-top:20px;
  text-transform:capitalize;
}

a.sans-style:hover{
  text-decoration:none;
}

.text-flou{
  color:transparent;
  text-shadow:0 0 5px #333;
}

.img-opacity{
  opacity: 0.5;
}

/* Switch des boutons récents et pertinents */
.switch {
  position: relative;
  margin: 20px auto;
  height: 26px;
  width: 133px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 59px;
  line-height: 26px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.35);
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}

.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
  margin-right: 12px;
}

.switch-label-on {
  padding-right: 2px;
}

.switch-input {
  display: none;
}

.switch-input:checked + .switch-label {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.65);
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}

.switch-input:checked + .switch-label-on ~ .switch-selection {
  /* Note: left: 50% doesn't transition in WebKit */
  left: 60px;
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 70px;
  height: 22px;
  background: #65bd63;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #9dd993, #65bd63);
  background-image: -moz-linear-gradient(top, #9dd993, #65bd63);
  background-image: -o-linear-gradient(top, #9dd993, #65bd63);
  background-image: linear-gradient(to bottom, #9dd993, #65bd63);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}


.switch-marron .switch-selection {
  background: #B5553A;
  background-image: -webkit-linear-gradient(top, #B5553A, #B5553A);
  background-image: -moz-linear-gradient(top, #B5553A, #B5553A);
  background-image: -o-linear-gradient(top, #B5553A, #B5553A);
  background-image: linear-gradient(to bottom, #B5553A, #B5553A);
}

.text-black{
  color:black;
}

.hover-actualites:hover{
  background-color: #ec770e;
}

.hover-formation:hover{
  background-color: #097f2e;
}

.hover-produits:hover{
  background-color: #721b45;
}

.hover-emploi:hover{
  background-color: #154990;
}

.hover-materiel:hover{
  background-color: #ffb400;
}

.hover-real:hover{
  background-color: #e72510;
}

.hover-other:hover{
  background-color: #B5553A;
}

/* Dégradé */
.gradient:hover{
  background-image:
    linear-gradient(
      to bottom, 
      #E6DF13, #CAC300
    );
}
/* Fin dégradé */

.couleur-rouge{
  background-color: #E94444;
}

.couleur-orange{
  background-color: #F79D00;
}

.couleur-blanche{
  background-color: white;
}

.couleur-noire{
  background-color: #2C2C2B;
}

.text-brown{
  color:#B5553A;
}

.width-height-max{
  height: 100%;
}

.boutons-fixed{
  position: fixed;
}

.taille-photos{
  height: 200px;
  width: 300px;
}

.titre-photos{
  text-transform:capitalize;
}

.border-photos{
  border-bottom: thin solid #BABABA;
  margin-bottom: 20px;
}

.fixed-bottom{
  position: fixed;
  bottom: 0;
  right: 0;
}



/*-----------------------------------------------------------------------------------*/

/* inscription, connexion, identification */

.total-height{
    height:100%;
}

.text-identification{
    font-size: 1.4em;
}

.without-margin-container-fluid{
    margin-left: -15px;
    margin-right: -15px;
}

.between-buttons{
    margin-left:15px;
}

.blur{
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

.width-button-identification{
    width:150px;
}

.carousel-caption{
    bottom: 150px;
}

.big-margin-top-inverse{
    margin-top:-200px;
}
.navigation-margin-top{
    margin-top: 45px;
}
.neg-navigation-margin-top{
    margin-top: -85px;
}

/* Slider */

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.brightness{
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
    -moz-filter: brightness(50%);
    -o-filter: brightness(50%);
    -ms-filter: brightness(50%);
}

.brightness-inverse
{
        filter: brightness(100%);
        -webkit-filter: brightness(100%);
        -moz-filter: brightness(100%);
        -o-filter: brightness(100%);
        -ms-filter: brightness(100%);
}

/* Fin Slider */

/* FIN inscription, connexion, identification */

/*------------------------------------------------------*/

/*---------------------MAISON A PART-----------------------*/

.navbar-inverse {
  background-color: #2C2C2B;
  border-color: #B5553A;
}

.border{
  border: #B5553A;
}

.btn-primary, .btn-primary:hover{
  background-color: #B5553A;
  background-image: -webkit-linear-gradient(#B5553A, #B5553A 6%, #B5553A);
  border: none;
}

.btn-real{
  background-color: #d9230f;
  color: white;
}

.btn-social-icon.btn-lg{
  width:35px;
  height:35px;
}

a{
  color: #B5553A;
}

body{
  background-color: #E4E4E4;
}

.sansDeco{
  text-decoration: none;
}

.highlight{
  background-color: white;
  border: 1px solid #d6d6d6;
  height:40px;
  overflow: hidden;
}

.texte-VE{
  line-height:30px;
  text-align:center; /* centrage horizontal */
}
.texte-VE > span{
  vertical-align:middle;
  display:inline-block;
  line-height:normal; /* on rétablit le line-height */
}

/* -------------------------------------------------------*/

/*-------------------------------- Barre de menu profil Pro ------------------------- */
.hiddenStepInfo {
    display: none;
}

.activeStepInfo {
    display: block !important;
}

.step {
    margin-top: 27px;
    text-align: center;
}    

.step .col-md-2{
    background-color: #fff;
    border: 1px solid #C0C0C0;
    border-right: none;
}

.step .col-md-2:last-child {
    border: 1px solid #C0C0C0;
}

.step .col-md-2:first-child {
    border-radius: 5px 0 0 5px;
}

.step .col-md-2:last-child {
    border-radius: 0 5px 5px 0;
}

.step .col-md-2:hover:not(.tel)  {
    color: #B5553A;
    cursor: pointer;
}

.step .activestep {
    color: #B5553A;
    margin-top: -7px;
    padding-top: 1px;
    border-left: 5px solid #2C2C2B !important;
    border-right: 5px solid #2C2C2B !important;
    border-top: 2px solid #2C2C2B !important;
    border-bottom: 2px solid #2C2C2B !important;
    vertical-align: central;
    height: 65px;
}

.step .activestep p {
    margin-top: 5px;
}

.step .fa {
    font-size: 30px;
}

.step p {
    margin-bottom: -2px;
    margin-top: -5px;
}

.telEtWeb{
    width: 194px;
}

/*-------------------------------- Barre de menu profil Pro ------------------------- */


/* Footer */

footer {
    padding: 10px 0;
}
